.message {
  max-width: 400px;
  margin-bottom: 15px;
}

.message__content {
  margin: 0;
}

.message__avatarWrapper {
  margin-right: 10px;
}

.message__avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.message__like {
  margin-left: 10px;
  font-size: 16px;
}

.message__actions {
  text-align: var(--message-text-align);
  opacity: 0;
}

.message:hover .message__actions {
  opacity: 1;
}

.message__icon {
  cursor: pointer;
  color: #aaa;
  margin: 0 7px;
  font-size: 15px;
}

.message__createdAt {
  font-size: 12px;
  color: var(--message-date-color);
  text-align: var(--message-text-align);
}

.message-own {
  --message-date-color: #999;
  --message-text-align: right;
}

.message-foreign {
  cursor: pointer;
  --message-date-color: #658dd8;
  --message-text-align: left;
}
